body {
  margin: 0;
  font-family: "Tahoma";
}

.header {
  margin-top: 77px;
  margin-bottom: 96px;
  background-color: #ffffff;
}
.header__title {
  color: #000000;
  font-size: 48px;
  font-weight: 700;
  margin: 0px 0px 15px 0px;
}
.header__subtitle {
  color: #000000;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 35px;
}
.header__discription {
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 47px;
}
.header__price {
  color: #313131;
  font-size: 48px;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 53px;
}
.header__button-1 {
  border-radius: 5px;
  background-color: #f05a22;
  padding: 22px 42px 22px 46px;
  margin-right: 40px;
  margin-bottom: 40px;
}
.header__button-1__text {
  color: #ffffff;
  font-family: Tahoma;
  font-size: 24px;
  font-weight: 700;
  line-height: 27px;
}
.header__button-2 {
  border-radius: 5px;
  border: 2px solid #f05a22;
  background-color: transparent;
  padding: 21px 30px 22px 30px;
}
.header__button-2__text {
  color: #f05a22;
  font-family: Tahoma;
  font-size: 24px;
  font-weight: 700;
  line-height: 27px;
}

.features {
  background-color: #f2f2f2;
  width: 100%;
  min-height: 408px;
  text-align: center;
  padding-top: 89px;
}
.features__title {
  color: #333333;
  font-family: Tahoma;
  font-size: 30px;
  font-weight: 700;
  line-height: 27px;
  margin-bottom: 91px;
}
.features__img {
  min-height: 55px;
}
.features__text {
  color: #333333;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 40px;
}

.customers {
  background-color: #ffffff;
  margin-top: 89px;
  margin-bottom: 111px;
  text-align: center;
}
.customers__title {
  color: #333333;
  font-family: Tahoma;
  font-size: 30px;
  font-weight: 700;
  line-height: 27px;
  margin-bottom: 69px;
}
.customers__img {
  margin-top: 40px;
}
